                * {
                    margin: 0;
                    box-sizing: border-box;
                    background: ;
                }
                
                .top-container {
                    background-color: #f2dded;
                    padding: 30px;
                    height: 250px;
                    text-align: center;
                }
                
                .header {
                    padding: 10px 16px;
                    background: #fff;
                    color: #000;
                }
                
                .content {
                    padding: 16px;
                }
                
                .sticky {
                    position: fixed;
                    top: 0;
                    width: 100%;
                }
                
                .sticky+.content {
                    padding-top: 102px;
                }
                
                .main-container {
                    background: red;
                }
                
                #restaurant-section {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    background: pink;
                    align-items: center;
                }
                
                #restaurant-section li {
                    width: 400px;
                }
                
                #restaurant-section img {
                    display: inline;
                }
                
                .card {
                    width: 90%;
                    background: white;
                    padding: 20px;
                    border: solid black 2px;
                    margin: 5px;
                    justify-content: center;
                }
                
                @media (min-width: 700px) and (max-width: 999px) {
                    .card {
                        width: 30%;
                        height: 400px;
                    }
                    #restaurant-section img {
                        max-width: 200px;
                        max-height: 200px;
                    }
                    #restaurant-section li {
                        width: 200px;
                    }
                }
                
                @media (min-width: 1000px) {
                    .card {
                        width: 45%;
                        height: 550px;
                    }
                    #restaurant-section img {
                        max-height: 350px;
                    }
                }