body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslategrey;
}       
* {
  margin: 0;
  box-sizing: border-box;
  background: ;
}

.top-container {
  background-color: #f2dded;
  padding: 30px;
  height: 250px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background:#f1f1f1;
  color: #f1f1f1;
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 102px;
}

.main-container {
  background: red;
}

#restaurant-section {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background: pink;
  align-items: center;
}

#restaurant-section li {
  width: 400px;
}

#restaurant-section img {
  display: inline;
}

.card {
width: 90%;
background: white;
padding: 20px;
border: solid grey 2px;
border-radius: 10px;
margin: 5px;
display:flex;
flex-direction: column;
align-items: center;
}

.logo{
height:100px;
cursor: pointer;
}
h1{
margin-top: 10px;
color: #555;
}
.buttons{
  display: flex;
  flex-direction: column;
}
button{
  border: 2px solid grey;
  border-radius: 5px;
  margin: 10px;
  color: darkslategrey;
  background-color: #ffece3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
}
footer{
  display:flex;
  justify-content: space-around;
  font-size: 10px;
  background: none;
  align-items: center;
  margin: 10px 10px 0 10px;
}
footer img {
  width: 60px;
  border-radius: 0;
  margin: 0 10px;
}
footer a{
  text-decoration: none;
  color:royalblue;
}

/*TABLET*/
@media (min-width: 668px) and (max-width: 1024px){
  .card {
      width: 45%;
      height: 400px;
      font-size: 14px;
  }
  #restaurant-section img {
      max-width: 250px;
      max-height: 200px;
  }
  #restaurant-section li {
      width: 250px;
  }
}

/***DESKTOP***/
@media (min-width: 1025px){
  .card {
      width: 30%;
      height: 430px;
  }
  #restaurant-section img {
      max-height: 200px;
      max-width: 250px;
  }
  #restaurant-section li {
    width: 250px;
}
}
